extend layout

block content 
    h2 #{title}
    p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta architecto ad nesciunt rerum, amet veniam ea exercitationem iste. Quia ut facere delectus sapiente cumque sit earum pariatur aliquid. Nihil, molestiae.
    p
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat cumque rerum, odio molestiae omnis totam ducimus amet quia nisi voluptatum voluptas impedit sequi odit, saepe provident, excepturi accusantium expedita laboriosam!