extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow? or maybe not at all Call us for a quick and easy quote
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.png')

  .row
    .col-md-4
      .card-header
        h4 Hardware Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magnam eum error deserunt officiis quis in et numquam ipsam sunt temporibus omnis, natus nam nobis voluptatem tempora est, commodi ducimus.
    .col-md-4
      .card-header
        h4 Software Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magnam eum error deserunt officiis quis in et numquam ipsam sunt temporibus omnis, natus nam nobis voluptatem tempora est, commodi ducimus.
    .col-md-4
      .card-header
        h4 PC Tune Up?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magnam eum error deserunt officiis quis in et numquam ipsam sunt temporibus omnis, natus nam nobis voluptatem tempora est, commodi ducimus.




