extends layout

block content
    h1 #{title}

    each service, i in services
        .card-header.mb-2
            h4 #{service.name}
            p #{service.description}
            p
                | Price Range: #{service.price_range}